.burger-button {
    @include reset-button;
    @include squere(58px);

    position: relative;

    @include hover {
      background-color: var(--color-red);
      color: var(--color-lighte);
      &::after {
        background-color: var(--color-lighte);
        box-shadow: 0 -8px var(--color-lighte), 0 8px var(--color-lighte);
      }
    }

    &::after {
      @include abs-center;

      content: '';
      width: 50%;
      height: 2px;
      background-color: var(--color-dark-gray);
      border-radius: 5px;
      box-shadow: 0 -8px var(--color-dark-gray), 0 8px var(--color-dark-gray);
    }

  }