.cross-button {
  @include reset-button;
  @include squere(58px);

  position: relative;

  @include hover {
    background-color: var(--color-red);
  }
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 9px;
      width: 70%;
      height: 2px;
      background-color: var(--color-dark-gray);
    }

    &::before {
      rotate: 45deg;
    }

    &::after {
      rotate: -45deg;
    }

    &:hover::before,
    &:hover::after {
      background-color: var(--color-lighte);
    }
}