.header-top {
  background-color: var(--color-dark-gray);
  &__contact {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
  }
  &__contact li {
    display: flex;
  }

  &__contact {
    color: var(--color-red);
    padding: var(--container-padding-x);
  }

  &__contact a{
    color: var(--color-red);
    text-decoration: none;
  }

  &__contact a:hover{
    text-decoration: underline;
  }
}

.phone .icon, .mail .icon {
  width: 19px;
  height: auto;
  fill: var(--color-lighte);
  padding-right: 5px;
}

.header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--container-padding-x);
}

.header-logo_image {
  width: 240px;
  height: 60px;
}

.header__menu {

  &-list {
    display: flex;
  }

  &-item {
    position: relative;
  }

  &-link {
    color: var(--color-dark-gray);
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 20px;
  }

  &-link:hover {
    color: var(--color-red);
  }
}

a.header__menu-link::after{
  background-color: currentColor;
  content: "";
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -15px;
  z-index: 203;
  opacity: 0;
}
a.header__menu-link:hover::after{
  opacity: 1;
}

